{% if g.user.id == task.doer_id %}
    {% if task.status == 0 %}
        <form action="{{url_for('task_start', id=task.id)}}" method="post">
            <button type="submit" class="btn btn-success">
                Start
            </button>
        </form>
    {% elif task.status == 1 %}
        <form action="{{url_for('task_complete', id=task.id)}}" method="post">
            <button type="submit", class="btn btn-info">
                Complete
            </button>
        </form>
    {% endif %}
{% elif g.user.id == task.requester_id %}
    {% if task.status == 2 %}
        <p>
            <form action="{{url_for('task_accept', id=task.id)}}" method="post">
                <button type="submit" class="btn btn-success">Accept</button>
            </form>
        </p>
        <p>
            <form action="{{url_for('task_reject', id=task.id)}}" method="post">
                <button type="submit" class="btn btn-danger">Reject</button>
            </form>
        </p>
    {% endif %}
{% endif %}
