 {% extends "base.html" %}
 {% from "_macros.html" import pagination %}

{% block content %}
<div class="col-md-8">
    <ul class="list-group">
        {% if tasks and tasks.items %}
            {% for task in tasks.items %}
                <a class="list-group-item" href="{{url_for('view_task', id=task.id)}}">
                    <h3>{{task.title}}</h3>
                    <div class="left">
                        <p>
                            Created: <span class="moment-js">{{task.created}}</span>
                        </p>
                    </div>
                    <div class="right">
                        {% include "task/points_display.html" %}
                        <p>
                            Status: {{g.TASK_STATUSES[task.status]}}
                        </p>
                     </div>
                    <div class="clear"></div>
                    <div class="well">
                         {% if task.description|length > 137: %}
{% filter markdown %}
{{task.description[0:137]}}...
{% endfilter %}
                    {% else %}
{% filter markdown %}
{{task.description}}
{% endfilter %}
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </ul>

{{pagination(tasks, endpoint)}}
</div>
{% endblock %}
