{% from "_macros.html" import form_group_field %}
{% extends "base.html" %}
{% block content %}
    <form class="form-horizontal" action="" method="post">
        {{form.hidden_tag()}}
        <fieldset>
            <legend>Create Your Task:</legend>

            {{form_group_field(form.title, size=20, maxlength=256)}}
            {{form_group_field(form.points, size=5)}}
            {{form_group_field(form.description, cols=48, rows=12)}}
            (Points will be awarded upon acceptance of the task)
        </fieldset>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Create Task</button>
        </div>
    </form>
{% endblock %}
