<!doctype html>
<html>
    <head>
        <title>Welcome to Kinkstruction!</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" charset="utf-8">
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/static/css/main.css" media="screen" charset="utf-8">
    <meta name="google-site-verification" content="MzXnbJz32lUro2hSQkrQHvaef9Yiohlz9gy7Jko92RE" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>Welcome to Kinstruction!</h1>
                        <p>
                            In order to use this site, you must agree to the following:

                            <ul>
                                <li>I am are either 18 years of age (and at least as old as the minimum legal age to view adult content in my country or region).</li>
                                <li>I am not offended by descriptions of sexual acts and BDSM activities.</li>
                                <li>I am visiting this site of my own free will, and am wearing my Big Boy/Girl pants. I will take responsibility for my actions.</li>
                                <li>I understand that the contents of this site are for entertainment purposes only.</li>
                            </ul>
                        </p>
                        <div style="float:left;">
                            <a class="btn btn-primary btn-lg" href="{{url_for('index', age_verification=1)}}">I Agree</a>
                        </div>
                        <div style="float:right;">
                            <a class="btn btn-primary btn-lg" href="http://www.google.com">I Disagree</a>
                        </div>
                        <div class="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
