{% macro form_group_field(field) %}
<div class="form-group">
    {{field.label(class_="col-md-2 control-label")}}
    {#
        An absolutely idiotic design decision: all arguments must be displayed in order to be used.
        Source: http://stackoverflow.com/a/13944920
    #}
    <span style="display:none">{{kwargs}}</span>
    <div class="col-md-10">
        {{field(**kwargs)}}
        {% for error in field.errors %}
            <span class="text-danger">[{{error}}]</span><br>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro message_item(message, inbox=True) %}
    <a class="list-group-item" href="{{url_for('view_message', id=message.id)}}">
        <div class="left">
            <p>From: {{message.from_user().username}}</p>
            <p>Sent: {{message.sent_timestamp}}</p>
            <p>Title: {{message.title}}</p>
        </div>
        {% if not message.is_read and inbox%}
        <div class="right">
            <span class="text-danger">New!</span>
        </div>
        {% endif %}
        <div class="clear"></div>
    </a>
{% endmacro %}

{#  {% macro paginate(element, endpoint, newer_label="Newer", older_label="Older", **kwargs) %}
    {% if element.has_prev %}
        <a href="{{url_for(endpoint, **kwargs)}}"><i class="fa fa-arrow-circle-o-left fa-2x"></i>{{newer_label}}</a>
    {% else %}
        <i class="fa fa-arrow-circle-o-left fa-2x"></i>{{newer_label}}
    {% endif %}

    {% if element.has_next %}
        <a href="{{url_for(endpoint, **kwargs)}}">{{older_label}}<i class="fa fa-arrow-circle-o-right fa-2x"></i></a>
    {% else %}
        {{older_label}}<i class="fa fa-arrow-circle-o-right fa-2x"></i>
    {% endif %}
{% endmacro %} #}
