{% macro form_group_field(field) %}
<div class="form-group">
    {{field.label(class_="col-md-2 control-label")}}
    {#
        An absolutely idiotic design decision: all arguments must be displayed in order to be used.
        Source: http://stackoverflow.com/a/13944920
    #}
    <span style="display:none">{{kwargs}}</span>
    <div class="col-md-10">
        {{field(**kwargs)}}
        {% for error in field.errors %}
            <span class="text-danger">[{{error}}]</span><br>
        {% endfor %}
    </div>
</div>
{% endmacro %}
