{% from "_macros.html" import form_group_field %}

{% extends "base.html" %}
{% block content %}


<form class="form-horizontal" action="" method="post">
    {{form.hidden_tag()}}
    <fieldset>
        <legend>Please log in:</legend>

        {{form_group_field(form.username, size=20, maxlength=256)}}
        {{form_group_field(form.password, size=20, maxlength=256)}}
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                (<a href="{{url_for('reset_from_email_no_username')}}">Forgot your password?</a>)
            </div>
        </div>
        {{form_group_field(form.remember_me)}}

    </fieldset>
    <div class="col-md-2">
        <input type="submit" name="log_in" value="Log In">
    </div>
</form>
{% endblock %}
