<div class="left">
    <ul class="nav nav-pills main-nav">
        <li><a href="{{url_for('index')}}">Kinkstruction</a></li>
        {% if g.user.is_authenticated() %}
            {% include "nav/profile.html" %}
            {% include "nav/messages.html" %}
            {% include "nav/friends.html" %}
            {% include "nav/members.html" %}
            {% include "nav/tasks.html" %}
            <li data-toggle="tooltip" data-placement="bottom" title="Options">
                <a href="{{url_for('options')}}">
                    <i class="fa fa-gear fa-2x"></i>
                </a>
            </li>
        {% endif %}
    <ul>
</div>

<div class="right">
    <ul class="nav nav-pills main-nav">
        <li data-toggle="tooltip" data-placement="bottom" title="GitHub">
            <a href="http://github.com/kinkstruction/kinkstruction"><i class="fa fa-github fa-2x"></i></a>
        </li>
        {% if g.user.is_authenticated() %}
            <li class="nav-btn">
                <form action="/logout" method="post">
                    <button id="logout_btn" type="submit" class="btn btn-primary">Log Out</button>
                </form>
            </li>
        {% else %}
            <li class="nav-btn">
                <form action="/login" method="post">
                    <button id="login_btn" type="submit" class="btn btn-primary">Log In</button>
                </form>
            </li>
            <li class="nav-btn">
                <form action="/sign_up" method="post">
                    <button id="register_btn" type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </li>
        {% endif %}
    </ul>
</div>
<div class="clear"></div>
