<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="submit" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Kinkstruction</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            {% if g.user.is_authenticated() %}
                <li class="active"><a href="{{url_for('profile_page', id=g.user.id)}}">Your Profile</a></li>
                <li class="active">
                    <a href="{{url_for('messages')}}">
                        <i class="fa fa-envelope-o fa-2x">
                            {% if g.user.num_unread_messages() %}
                                <span class="badge">{{g.user.num_unread_messages()}}</span>
                            {% endif %}
                        </i>
                    </a>
                </li>
                <li class="active">
                    {% if g.user.users_sending_friend_requests.count() %}
                        <a href="{{url_for('friends')}}">
                            <i class="fa fa-users fa-2x">
                                <span class="badge">{{g.user.users_sending_friend_requests.count()}}</span>
                            </i>
                        </a>
                    {% else %}
                        <a href="{{url_for('friends')}}"><i class="fa fa-users fa-2x"></i></a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
        <form class="navbar-form navbar-left">
            <input id="search_box" type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="http://github.com/kinkstruction/kinkstruction"><i class="fa fa-github fa-2x"></i></a>
            </li>
            {% if g.user.is_authenticated() %}
                <li class="nav-btn">
                    <form action="/logout" method="post">
                        <button id="logout_btn" type="submit" class="btn btn-primary">Log Out</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-btn">
                    <form action="/login" method="post">
                        <button id="login_btn" type="submit" class="btn btn-primary">Log In</button>
                    </form>
                </li>
                <li class="nav-btn">
                    <form action="/sign_up" method="post">
                        <button id="register_btn" type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
