{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Email Still Not Validated</h1>
        <p>
            A validation email has been sent from <code>verifications@kinkstruction.com</code> to the following address: {{ g.user.email}}. Please click on the link in this email to validate your email address.
        </p>
        <p>
            <form action="/resend_verification_email" method="post">
                <button type="submit" class="btn btn-primary btn-lg">Resend The Verification Email</button>
            </form>
        </p>
    </div>
{% endblock %}
