{% from "_macros.html" import form_group_field %}
{% extends "base.html" %}
{% block content %}
    <form class="form-horizontal" action="" method="post">
        {{form.hidden_tag()}}
        <fieldset>
            <legend>Change Your Username Or Password:</legend>

            {{form_group_field(form.username, size=20, maxlength=256)}}
            {{form_group_field(form.password, size=20, maxlength=256)}}
            {{form_group_field(form.confirm_password, size=20, maxlength=256)}}
        </fieldset>
        <div class="col-md-2">
            <input type="submit" name="log_in" value="Save Changes">
        </div>
    </form>
{% endblock %}
