{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="left">
            <h3>{{user.username}}</h3>
            <p>
                {{user.age_gender_role()}}
            </p>
            <p>
                Joined <span class="from-now">{{user.created}}</span>
            </p>
        </div>
        <div class="right">
            <!-- Save this for listing friends -->
        </div>
        <div class="clear"></div>
    </div>

    <div class="jumbotron">
        <h4>About me:</h4>
        {% if user.bio %}
            {{user.bio}}
        {% endif %}
    </div>

    {% if user.id == g.user.id %}
        <a class="btn btn-primary btn-lg" href="/edit/profile">Edit Your Profile</a>
    {% endif %}

{% endblock %}
