{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="left">
            <h3>{{user.username}}</h3>
            <p>
                {{user.age_gender_orientation_role()}}
            </p>
            <p>
                Joined <span class="moment-js">{{user.created}}</span>
            </p>
        </div>
        <div class="right">
            {% if g.user.id != user.id %}
                {% if g.user.is_friend(user.id) %}
                    <p>
                        <form action="{{url_for('unfriend', id=user.id)}}" method="post">
                            <button type="submit" id="unfriend_button" class="btn btn-primary">
                                Unfriend {{user.username}}
                            </button>
                        </form>
                    </p>
                    <p>
                        <form action="{{url_for('create_task', id=user.id)}}" method="post">
                            <button type="submit" class="btn btn-primary">Create A Task For {{user.username}}!</button>
                        </form>
                    <p>
                {% else %}
                    <p>
                        <form action="{{url_for('send_friend_request', id=user.id)}}" method="post">
                            <button type="submit" class="btn btn-primary">
                                Send a friend request!
                            </button>
                        </form>
                    </p>
                {% endif %}
                <p>
                    <form action="{{url_for('new_message', id=user.id)}}" method="post">
                        <button type="submit" class="btn btn-primary">
                            Send A Message!
                        </button>
                    </form>
                </p>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>

    <div class="jumbotron">
        <h4>About me:</h4>
        {% if user.bio %}
{% filter markdown %}
{{user.bio}}
{% endfilter %}
        {% endif %}
    </div>

    {% if user.id == g.user.id %}
        <a class="btn btn-primary btn-lg" href="{{url_for('edit_profile')}}">Edit Your Profile</a>
    {% endif %}

{% endblock %}
