{% from "_macros.html" import form_group_field %}
{% extends "base.html" %}
{% block content %}
    <form class="form-horizontal" action="" method="post">
        {{form.hidden_tag()}}
        <fieldset>
            <legend>Select a new password:</legend>

            {{form_group_field(form.password, size=20, maxlength=256)}}
            {{form_group_field(form.new_password, size=20, maxlength=256)}}
            {{form_group_field(form.confirm_password, size=20, maxlength=256)}}

        </fieldset>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
{% endblock %}
