{% from "_macros.html" import form_group_field %}
{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        var username = $('#username').val();
        $('#username').change(function() {
            $("#username_error_msg").val("")
            $.ajax({
              url: "/check_username",
              type: 'POST',
              data: 'username=' + username,
              done: function(result){ //Returns the number of users with the given username
                         if(parseInt(result)){
                             $("#username_error_msg").val("Sorry! The name '" + username + "' is already taken.")
                             $("#username").val("");
                         }
                         else{
                             $("#username_error_msg").val("")
                         }
                       }
              });
        });
    </script>

<form class="form-horizontal" action="" method="post">
    {{form.hidden_tag()}}
    <fieldset>
        <legend>Please provide some information:</legend>

        {{form_group_field(form.username, size=20, maxlength=256)}}
        {{form_group_field(form.password, size=20, maxlength=256)}}
        {{form_group_field(form.confirm_password, size=20, maxlength=256)}}
        {{form_group_field(form.email, size=20, maxlength=256)}}
        {{form_group_field(form.age, size=3, maxlength=3)}}
        {{form_group_field(form.gender, size=12, maxlength=24)}}
        {{form_group_field(form.role, size=12, maxlength=24)}}
        {{form_group_field(form.orientation, size=12, maxlength=24)}}
        {{form_group_field(form.bio, cols=48, rows=12)}}
        {{form_group_field(form.remember_me)}}

    </fieldset>
    <div class="col-md-2">
        <input type="submit" name="log_in" value="Register Me">
    </div>
</form>
{% endblock %}
