{% from "_macros.html" import form_group_field %}
{% extends "base.html" %}
{% block content %}

<form class="form-horizontal" action="" method="post">
    {{form.hidden_tag()}}
    <fieldset>
        <legend>Please provide some information:</legend>

        {{form_group_field(form.username, size=20, maxlength=256)}}
        {{form_group_field(form.password, size=20, maxlength=256)}}
        {{form_group_field(form.confirm_password, size=20, maxlength=256)}}
        {{form_group_field(form.email, size=20, maxlength=256)}}
        {{form_group_field(form.age, size=3, maxlength=3)}}
        {{form_group_field(form.gender, size=12, maxlength=24)}}
        {{form_group_field(form.role, size=12, maxlength=24)}}
        {{form_group_field(form.orientation, size=12, maxlength=24)}}
        {{form_group_field(form.bio, cols=48, rows=12)}}
        {{form_group_field(form.remember_me)}}

    </fieldset>
    <div class="col-md-2">
        <input type="submit" name="log_in" value="Register Me">
    </div>
</form>
{% endblock %}
