{% if tasks and tasks.items %}
    <div class="col-md-8">
        <ul class="list-group">
            {% for task in tasks.items %}
                <a class="list-group-item" href="{{url_for('view_task', id=task.id)}}">
                    <h3>{{task.title}}</h3>
                    <div class="left">
                        <p>
                            Created: {{task.created}}
                        </p>
                    </div>
                    <div class="right">
                        <p>
                            Status: {{g.TASK_STATUSES[task.status]}}
                        </p>

                    </div>
                    <div class="clear"></div>
                    <div class="well">

                        {% if task.description|length > 137: %}
{% filter markdown %}
{{task.description[0:137]}}...
{% endfilter %}
                        {% else %}
{% filter markdown %}
{{task.description}}
{% endfilter %}
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </ul>

        <div class="left">
            {% if tasks.has_prev %}
                <a href="{{url_for('index', page=tasks.prev_num)}}">
                    <button class="btn btn-primary"><i class="fa fa-arrow-left fa-2x"></i></button>
                </a>
            {% else %}
                <button class="btn btn-primary disabled"><i class="fa fa-arrow-left fa-2x"></i></button>
            {% endif %}
        </div>

        <div class="right">
            {% if tasks.has_next %}
                <a href="{{url_for('index', page=tasks.next_num)}}">
                    <button class="btn btn-primary"><i class="fa fa-arrow-right fa-2x"></i></button>
                </a>
            {% else %}
                <button class="btn btn-primary disabled"><i class="fa fa-arrow-right fa-2x"></i></button>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endif %}
