{% from "_macros.html" import form_group_field, pagination %}
{% extends "base.html" %}
{% block content %}
    <div class="col-md-10">
        <div class="left">
            <h2>{{task.title}}</h2>
        </div>
        <div class="right">
            <p>Created: <span class="moment-js">{{task.created}}</span></p>
            {% include "task/points_display.html" %}
            <p>
                Status: {{g.TASK_STATUSES[task.status]}}
            </p>
            {#
                Block that says "Assigned by", "Assigned to", and
                buttons for updating status (if applicable)
            #}
            {% include "task/assigned_and_statuses.html" %}
        </div>
        <div class="clear"></div>


        {% if edit and task.requester_id == g.user.id %}
            {% include "task/edit_task_form.html" %}
        {% else %}
        <div class="well">
{% filter markdown %}
{{task.description}}
{% endfilter %}
        </div>
        {% endif %}

        <div class="col-md-6">
            {% if posts and posts.items %}
                {% for post in posts.items %}
                    {% include "task/post.html" %}
                {% endfor %}
                {{pagination(posts, "view_task", id=task.id)}}
            {% endif %}

            {% if posts and not posts.has_next %}
                <p>
                    <form action="{{url_for('add_post_to_task', id=task.id)}}" method="post">
                        <textarea name="post" cols="50" rows="4" maxlength=140 placeholder="Post an update (140 characters or fewer)"></textarea>
                        <p>
                            <button type="submit" class="btn btn-primary">Add Post</button>
                        </p>
                    </form>
                </p>
            {% endif %}

            {% if not edit and task.requester_id == g.user.id %}
                <a class="btn btn-primary btn-lg" href="{{url_for('update_task', id=task.id)}}">Edit Task</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
