{% extends "base.html" %}
{% block content %}
<div class="well col-md-11">
    <h6>"{{message.title}}"</h6>
    <p>
        <strong>From: </strong> <a href="{{url_for('profile_page', id=message.from_user_id)}}">{{message.from_user().username}}</a>
    </p>
    <p>
        <strong>Sent: </strong> {{message.sent_timestamp}}
    </p>
    <div class="well">
{% filter markdown %}
{{message.body}}
{% endfilter %}
    </div>

</div>
<div class="col-md-1">
    <a href="{{url_for('message_reply', id=message.id)}}"<i class="fa fa-reply"></i></a>
</div>

{% endblock %}
